@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BeFit</h1>
    <p>Jest to mały projekt który ma na celu nauczyć nas korzystanie z ASP.NET Core</p>
</div>
